In [22]:
import pandas as pd

#Read Excel file and get insight
df12 = pd.read_excel('COOP4230_DS_PROJECT_DATA_12.xlsx', engine='openpyxl')
df12.head(5)

ChurnFlag                           1.000000
ClosedCreditCardFlag                0.044777
ClosedPayrollDurationMonthL12M      0.033267
SumCreditCardRevolveUsdAmountLM     0.006337
SumTrDemandDepositTrxUsdAmountLM   -0.001559
                                      ...
SumDemandDepositTrxTypeNumLM       -0.165948
Channel2OwnershipFlag              -0.177788
ActiveProductAndChannelGroupNum    -0.228249
PeriodOrder                              NaN
ValidationFlag                           NaN
Name: ChurnFlag, Length: 64, dtype: float64

In [24]:
#Check corralation
corr = df12.corr()
corr
corr["ChurnFlag"].sort_values(ascending=False)

#Check NaN values from dataset
df12.isna().sum().sort_values(ascending=False)

SumClosedAutoBillPaymentOrderNumLM    65999
SumNewAutoBillPaymentOrderNumLM       65536
SumInboundTrxNumLM                    65278
SumFxDemandDepositTrxUsdAmountLM      64210
SumInboundNumLM                       62269
                                      ...
Product6OwnershipFlag                     0
Product7OwnershipFlag                     0
Product8OwnershipFlag                     0
Product9OwnershipFlag                     0
PeriodOrder                               0
Length: 84, dtype: int64

### Validation Set created

In [25]:
dfvalidation = df12.loc[df12['ValidationFlag'] == 1]
dfvalidation['ValidationFlag']

9        1
14       1
15       1
17       1
22       1
        ..
65971    1
65975    1
65985    1
65993    1
65999    1
Name: ValidationFlag, Length: 11000, dtype: int64

## Train set created

In [52]:
dfmodel = df12.loc[df12['ValidationFlag'] == 0]
#null values
dfmodel.isna().sum().sort_values(ascending=False)

SumClosedAutoBillPaymentOrderNumLM    54999
SumNewAutoBillPaymentOrderNumLM       54608
SumInboundTrxNumLM                    54388
SumFxDemandDepositTrxUsdAmountLM      53496
SumInboundNumLM                       51881
                                      ...
Product6OwnershipFlag                     0
Product7OwnershipFlag                     0
Product8OwnershipFlag                     0
Product9OwnershipFlag                     0
PeriodOrder                               0
Length: 84, dtype: int64

In [53]:
nullIncomes = dfmodel.loc[dfmodel['YearlyIncome'].isna()]
nullIncomes

dfmodel = dfmodel[dfmodel['YearlyIncome'].notna()]
dfmodel.isna().sum().sort_values(ascending=False)

SumClosedAutoBillPaymentOrderNumLM    54970
SumNewAutoBillPaymentOrderNumLM       54579
SumInboundTrxNumLM                    54359
SumFxDemandDepositTrxUsdAmountLM      53467
SumInboundNumLM                       51852
                                      ...
Product6OwnershipFlag                     0
Product7OwnershipFlag                     0
Product8OwnershipFlag                     0
Product9OwnershipFlag                     0
PeriodOrder                               0
Length: 84, dtype: int64

## Dfmodel Refactored 

Unnecessary columns with a high number of null values ​​were dropped.

In [58]:
dfmodel = dfmodel.drop(["SumClosedAutoBillPaymentOrderNumLM",
"SumNewAutoBillPaymentOrderNumLM",
"SumInboundTrxNumLM"              ,               
"SumFxDemandDepositTrxUsdAmountLM" ,              
"SumInboundNumLM"                   ,             
"SumAutoBillPaymentNumLM",
"SumBranchTrxUsdAmountLM" ,                       
"SumBranchTrxNumLM"        ,                      
"SumIncomingEftNumLM"       ,                     
"SumEftNumLM"                ,                    
"SumInstallmentLoanInstallmentBalanceLM"         ,
"SumInstallmentLoanOpeningBalanceUsdLM"          ,
"SumInstallmentLoanCurrentBalanceUsdLM",
"MaxOverdraftBalanceUsdLM"              ,         
"AvgEftNumL3M"                           ,        
"AvgCreditCardEftUsdAmountL3M"            ,       
"AvgEftNumL6M"                             ,      
"AvgCreditCardEftUsdAmountL6M"              ,     
"CreditCardUsdLimitLM"                       ,    
"SumCreditCardRevolveUsdAmountLM"             ,   
"SumCreditCardTrxNumLM"                        ,  
"SumCreditCardTrxUsdAmountLM"                   , 
"SumAtmTrxUsdAmountLM"                           ,
"SumTrDemandDepositTrxUsdAmountLM"     ], axis=1)

KeyError: "['SumClosedAutoBillPaymentOrderNumLM' 'SumNewAutoBillPaymentOrderNumLM'\n 'SumInboundTrxNumLM' 'SumFxDemandDepositTrxUsdAmountLM' 'SumInboundNumLM'\n 'SumAutoBillPaymentNumLM' 'SumBranchTrxUsdAmountLM' 'SumBranchTrxNumLM'\n 'SumIncomingEftNumLM' 'SumEftNumLM'\n 'SumInstallmentLoanInstallmentBalanceLM'\n 'SumInstallmentLoanOpeningBalanceUsdLM'\n 'SumInstallmentLoanCurrentBalanceUsdLM' 'MaxOverdraftBalanceUsdLM'\n 'AvgEftNumL3M' 'AvgCreditCardEftUsdAmountL3M' 'AvgEftNumL6M'\n 'AvgCreditCardEftUsdAmountL6M' 'CreditCardUsdLimitLM'\n 'SumCreditCardRevolveUsdAmountLM' 'SumCreditCardTrxNumLM'\n 'SumCreditCardTrxUsdAmountLM' 'SumAtmTrxUsdAmountLM'\n 'SumTrDemandDepositTrxUsdAmountLM'] not found in axis"

In [67]:
dfmodel.isna().sum().sort_values(ascending=False).head(5)

SumDemandDepositTrxNumL6M    3479
SumDemandDepositTrxNumL3M    2935
ChurnFlag                       0
AvgInternetLoginNumL3M          0
ClosedProductNumL3M             0
dtype: int64

In [68]:
corr = dfmodel.corr()
corr
corr["ChurnFlag"].sort_values(ascending=False).head(5)

ChurnFlag                          1.000000
ClosedCreditCardFlag               0.044566
ClosedPayrollDurationMonthL12M     0.033541
AvgDemandDepositTrxUsdAmountL6M   -0.001726
MaxUsdAumL24M                     -0.007029
Name: ChurnFlag, dtype: float64


## NaN counts ##
27
SumUsdAum                                        
27
SumLoanBalanceUsdLM                              
18
MaxLoanBalanceL24M                               
18
MaxUsdAumL24M                                    


These rows dropped

In [69]:
nullIncomes = dfmodel.loc[dfmodel['SumUsdAum'].isna()] #Son 24 aydaki tüm varlıkların usd toplamı vadeli vadesiz
nullIncomes

#Current shape of dataframe
print('Current shape of dataframe' , dfmodel.shape)

#Shape of dataframe after drop operation
dfmodel = dfmodel.drop(index= nullIncomes.index, axis= 0)
print('Shape of dataframe after drop operation' , dfmodel.shape)

Current shape of dataframe (54944, 60)
Shape of dataframe after drop operation (54944, 60)

In [66]:
dfmodel.isna().sum().sort_values(ascending=False).head(5)

SumDemandDepositTrxNumL6M    3479
SumDemandDepositTrxNumL3M    2935
ChurnFlag                       0
AvgInternetLoginNumL3M          0
ClosedProductNumL3M             0
dtype: int64

In [70]:
corr["SumDemandDepositTrxNumL3M"].sort_values(ascending=False).head(5)

SumDemandDepositTrxNumL3M          1.000000
SumDemandDepositTrxNumL6M          0.929056
SumDemandDepositTrxTypeNumLM       0.856896
ActiveProductAndChannelGroupNum    0.630017
Product13OwnershipFlag             0.564386
Name: SumDemandDepositTrxNumL3M, dtype: float64

In [71]:
dfSumDemandDepositTrxNumL3M = dfmodel.loc[dfmodel['SumDemandDepositTrxNumL3M'] == 0]
nullIncomes = dfmodel.loc[dfmodel['SumDemandDepositTrxNumL3M'].isna()]

In [73]:
nullIncomes2 = dfmodel.loc[dfmodel['SumDemandDepositTrxNumL6M'].isna()] #validation dataset

print('Shape of current dfmodel' , dfmodel.shape)
testDataframe = dfmodel.drop(index= nullIncomes2.index, axis= 0)
nullIncomes3 = testDataframe.loc[dfmodel['SumDemandDepositTrxNumL3M'].isna()]
testDataframe = testDataframe.drop(index= nullIncomes3.index, axis= 0)
print('Shape of testdataframe' , testDataframe.shape)

Shape of current dfmodel (54944, 60)
Shape of testdataframe (50872, 60)

In [74]:
testDataframe.isna().sum().sort_values(ascending=False).head(5)

ChurnFlag                        0
ValidationFlag                   0
Product1OwnershipFlag            0
ClosedProductNumL3M              0
NewOpenProductAndChannelNumLM    0
dtype: int64

## Regression for imputation SumDemandDepositTrxNumL6M'

In [75]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import metrics
import numpy as np

values = testDataframe[['SumDemandDepositTrxNumL3M','SumDemandDepositTrxTypeNumLM' ]]
scaler = StandardScaler()
scaled = scaler.fit_transform(values)
inputs = pd.DataFrame(scaled)

target = testDataframe['SumDemandDepositTrxNumL6M']
target = target.to_numpy()
target = target.reshape(-1, 1)
print('real target')
print(target)
minxmaxScaler = MinMaxScaler()
newtarget = minxmaxScaler.fit_transform(target)
target = pd.DataFrame(newtarget)
print(target)


X_train, X_test, y_train, y_test = train_test_split( inputs, target, test_size=0.2, random_state=42)

regressor = LinearRegression()
regressor.fit(X_train, y_train)

#Test set
y_pred = regressor.predict(X_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

#Real test
reversed_target2 = minxmaxScaler.inverse_transform(y_test)
print(reversed_target2)
reversed_target = minxmaxScaler.inverse_transform(y_pred)
print(reversed_target)

print('Mean Absolute Error:', metrics.mean_absolute_error(reversed_target2, reversed_target))
print('Mean Squared Error:', metrics.mean_squared_error(reversed_target2, reversed_target))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(reversed_target2, reversed_target)))

real target
[[0.]
 [2.]
 [8.]
 ...
 [4.]
 [4.]
 [2.]]
              0
0      0.000000
1      0.052632
2      0.210526
3      0.157895
4      0.157895
...         ...
50867  0.210526
50868  0.000000
50869  0.105263
50870  0.105263
50871  0.052632

[50872 rows x 1 columns]
Mean Absolute Error: 0.03654931137324324
Mean Squared Error: 0.0022705003937485576
Root Mean Squared Error: 0.047649768034572396
[[10.]
 [20.]
 [ 4.]
 ...
 [ 4.]
 [ 4.]
 [12.]]
[[ 9.26705557]
 [20.00865201]
 [ 5.09808145]
 ...
 [ 5.15611075]
 [ 5.15611075]
 [ 9.32508487]]
Mean Absolute Error: 1.3888738321832432
Mean Squared Error: 3.2786025685729183
Root Mean Squared Error: 1.8106911853137515

In [76]:
corr = testDataframe.corr()
corr["ChurnFlag"].sort_values(ascending=False).head(10)

ChurnFlag                            1.000000
ClosedCreditCardFlag                 0.040596
ClosedPayrollDurationMonthL12M       0.036551
AvgDemandDepositTrxUsdAmountL6M     -0.001801
ClosedOverdraftDurationMonthL12M    -0.005343
SumUsdAum                           -0.007413
MaxUsdAumL24M                       -0.007453
AvgFxDemandDepositTrxUsdAmountL6M   -0.007456
AvgFxDemandDepositTrxUsdAmountL3M   -0.007468
AvgUsdAumL3M                        -0.008408
Name: ChurnFlag, dtype: float64

In [78]:
sorted_data = testDataframe.reindex(sorted(testDataframe.columns), axis=1)
sorted_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50872 entries, 0 to 65998
Data columns (total 60 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   ActiveProductAndChannelGroupNum              50872 non-null  int64
 1   AvgAtmTrxNumL6M                              50872 non-null  object
 2   AvgAutoBillPaymentNumLM6                     50872 non-null  object
 3   AvgBranchTrxNumL6M                           50872 non-null  object
 4   AvgDemandDepositTrxNumL6M                    50872 non-null  object
 5   AvgDemandDepositTrxUsdAmountL6M              50872 non-null  int64
 6   AvgFxDemandDepositTrxNumL3M                  50872 non-null  object
 7   AvgFxDemandDepositTrxNumL6M                  50872 non-null  object
 8   AvgFxDemandDepositTrxUsdAmountL3M            50872 non-null  int64
 9   AvgFxDemandDepositTrxUsdAmountL6M            50872 non-null  int64
 10  AvgInternetLoginNumL3M                       50872 non-null  object
 11  AvgInternetTrxNumL3M                         50872 non-null  object
 12  AvgInternetTrxNumL6M                         50872 non-null  object
 13  AvgUsdAumL3M                                 50872 non-null  int64
 14  AvgUsdAumL6M                                 50872 non-null  int64
 15  BonusCampaignPromiseFlag                     50872 non-null  int64
 16  Channel1OwnershipFlag                        50872 non-null  int64
 17  Channel2OwnershipFlag                        50872 non-null  int64
 18  Channel3OwnershipFlag                        50872 non-null  int64
 19  ChurnFlag                                    50872 non-null  float64
 20  ClosedAutoBillPaymentOrderDurationMonthL12M  50872 non-null  int64
 21  ClosedCreditCardDurationMonthL12M            50872 non-null  int64
 22  ClosedCreditCardFlag                         50872 non-null  int64
 23  ClosedOverdraftDurationMonthL12M             50872 non-null  int64
 24  ClosedPayrollDurationMonthL12M               50872 non-null  int64
 25  ClosedProductNumL3M                          50872 non-null  object
 26  CustomerId                                   50872 non-null  object
 27  DemandDepositBalanceDebtRatioLM6             50872 non-null  object
 28  DifDayLast2FinancialTrxL12M                  50872 non-null  object
 29  MaxLoanBalanceL24M                           50872 non-null  float64
 30  MaxLoanRemainingMaturity                     50872 non-null  int64
 31  MaxUsdAumL24M                                50872 non-null  float64
 32  NewOpenProductAndChannelNumLM                50872 non-null  int64
 33  PeriodOrder                                  50872 non-null  int64
 34  Product10OwnershipFlag                       50872 non-null  int64
 35  Product11OwnershipFlag                       50872 non-null  int64
 36  Product12OwnershipFlag                       50872 non-null  int64
 37  Product13OwnershipFlag                       50872 non-null  int64
 38  Product14OwnershipFlag                       50872 non-null  int64
 39  Product15OwnershipFlag                       50872 non-null  int64
 40  Product1OwnershipFlag                        50872 non-null  int64
 41  Product2OwnershipFlag                        50872 non-null  int64
 42  Product3OwnershipFlag                        50872 non-null  int64
 43  Product4OwnershipFlag                        50872 non-null  int64
 44  Product5OwnershipFlag                        50872 non-null  int64
 45  Product6OwnershipFlag                        50872 non-null  int64
 46  Product7OwnershipFlag                        50872 non-null  int64
 47  Product8OwnershipFlag                        50872 non-null  int64
 48  Product9OwnershipFlag                        50872 non-null  int64
 49  ProfitSegment                                50872 non-null  object
 50  SumCcIvrTrxNumL3M                            50872 non-null  int64
 51  SumCcIvrTrxNumL6M                            50872 non-null  int64
 52  SumDemandDepositTrxNumL3M                    50872 non-null  float64
 53  SumDemandDepositTrxNumL6M                    50872 non-null  float64
 54  SumDemandDepositTrxTypeNumLM                 50872 non-null  int64
 55  SumLoanBalanceUsdLM                          50872 non-null  float64
 56  SumUsdAum                                    50872 non-null  float64
 57  ValidationFlag                               50872 non-null  int64
 58  ValueBasedSegment                            50872 non-null  object
 59  YearlyIncome                                 50872 non-null  float64
dtypes: float64(8), int64(37), object(15)
memory usage: 23.7+ MB

In [79]:
##Total product ownership calculation
poColumns = sorted_data.iloc[:, 34:49]

In [88]:
poColumns.head(10)

,Product10OwnershipFlag,Product11OwnershipFlag,Product12OwnershipFlag,Product13OwnershipFlag,Product14OwnershipFlag,Product15OwnershipFlag,Product1OwnershipFlag,Product2OwnershipFlag,Product3OwnershipFlag,Product4OwnershipFlag,Product5OwnershipFlag,Product6OwnershipFlag,Product7OwnershipFlag,Product8OwnershipFlag,Product9OwnershipFlag
0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0
1,0,0,0,1,2,1,0,0,0,0,2,0,2,0,0
2,0,0,0,1,2,0,0,0,0,0,0,0,1,1,0
3,0,0,0,2,2,2,2,0,0,2,2,0,1,2,0
4,0,0,0,2,0,2,0,0,0,0,0,0,1,0,0
5,0,0,0,1,2,1,0,0,0,0,0,0,2,0,0
6,0,0,0,0,1,2,0,0,0,0,0,0,1,0,0
7,0,0,0,1,1,1,0,0,0,0,2,0,2,0,0
8,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0
10,0,0,0,0,2,2,2,0,0,0,2,0,2,0,0

In [81]:
totalProductOwnership = poColumns.T[poColumns.T > 0].count()

In [82]:
print(totalProductOwnership)

0        2
1        5
2        4
3        8
4        3
        ..
65994    5
65995    2
65996    4
65997    4
65998    2
Length: 50872, dtype: int64

In [83]:
sorted_data['TotalProductOwnership'] = totalProductOwnership

In [84]:
print(sorted_data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50872 entries, 0 to 65998
Data columns (total 61 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   ActiveProductAndChannelGroupNum              50872 non-null  int64
 1   AvgAtmTrxNumL6M                              50872 non-null  object
 2   AvgAutoBillPaymentNumLM6                     50872 non-null  object
 3   AvgBranchTrxNumL6M                           50872 non-null  object
 4   AvgDemandDepositTrxNumL6M                    50872 non-null  object
 5   AvgDemandDepositTrxUsdAmountL6M              50872 non-null  int64
 6   AvgFxDemandDepositTrxNumL3M                  50872 non-null  object
 7   AvgFxDemandDepositTrxNumL6M                  50872 non-null  object
 8   AvgFxDemandDepositTrxUsdAmountL3M            50872 non-null  int64
 9   AvgFxDemandDepositTrxUsdAmountL6M            50872 non-null  int64
 10  AvgInternetLoginNumL3M                       50872 non-null  object
 11  AvgInternetTrxNumL3M                         50872 non-null  object
 12  AvgInternetTrxNumL6M                         50872 non-null  object
 13  AvgUsdAumL3M                                 50872 non-null  int64
 14  AvgUsdAumL6M                                 50872 non-null  int64
 15  BonusCampaignPromiseFlag                     50872 non-null  int64
 16  Channel1OwnershipFlag                        50872 non-null  int64
 17  Channel2OwnershipFlag                        50872 non-null  int64
 18  Channel3OwnershipFlag                        50872 non-null  int64
 19  ChurnFlag                                    50872 non-null  float64
 20  ClosedAutoBillPaymentOrderDurationMonthL12M  50872 non-null  int64
 21  ClosedCreditCardDurationMonthL12M            50872 non-null  int64
 22  ClosedCreditCardFlag                         50872 non-null  int64
 23  ClosedOverdraftDurationMonthL12M             50872 non-null  int64
 24  ClosedPayrollDurationMonthL12M               50872 non-null  int64
 25  ClosedProductNumL3M                          50872 non-null  object
 26  CustomerId                                   50872 non-null  object
 27  DemandDepositBalanceDebtRatioLM6             50872 non-null  object
 28  DifDayLast2FinancialTrxL12M                  50872 non-null  object
 29  MaxLoanBalanceL24M                           50872 non-null  float64
 30  MaxLoanRemainingMaturity                     50872 non-null  int64
 31  MaxUsdAumL24M                                50872 non-null  float64
 32  NewOpenProductAndChannelNumLM                50872 non-null  int64
 33  PeriodOrder                                  50872 non-null  int64
 34  Product10OwnershipFlag                       50872 non-null  int64
 35  Product11OwnershipFlag                       50872 non-null  int64
 36  Product12OwnershipFlag                       50872 non-null  int64
 37  Product13OwnershipFlag                       50872 non-null  int64
 38  Product14OwnershipFlag                       50872 non-null  int64
 39  Product15OwnershipFlag                       50872 non-null  int64
 40  Product1OwnershipFlag                        50872 non-null  int64
 41  Product2OwnershipFlag                        50872 non-null  int64
 42  Product3OwnershipFlag                        50872 non-null  int64
 43  Product4OwnershipFlag                        50872 non-null  int64
 44  Product5OwnershipFlag                        50872 non-null  int64
 45  Product6OwnershipFlag                        50872 non-null  int64
 46  Product7OwnershipFlag                        50872 non-null  int64
 47  Product8OwnershipFlag                        50872 non-null  int64
 48  Product9OwnershipFlag                        50872 non-null  int64
 49  ProfitSegment                                50872 non-null  object
 50  SumCcIvrTrxNumL3M                            50872 non-null  int64
 51  SumCcIvrTrxNumL6M                            50872 non-null  int64
 52  SumDemandDepositTrxNumL3M                    50872 non-null  float64
 53  SumDemandDepositTrxNumL6M                    50872 non-null  float64
 54  SumDemandDepositTrxTypeNumLM                 50872 non-null  int64
 55  SumLoanBalanceUsdLM                          50872 non-null  float64
 56  SumUsdAum                                    50872 non-null  float64
 57  ValidationFlag                               50872 non-null  int64
 58  ValueBasedSegment                            50872 non-null  object
 59  YearlyIncome                                 50872 non-null  float64
 60  TotalProductOwnership                        50872 non-null  int64
dtypes: float64(8), int64(38), object(15)
memory usage: 24.1+ MB
None

In [85]:
sorted_data = sorted_data.drop(poColumns, axis=1)
print(sorted_data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50872 entries, 0 to 65998
Data columns (total 46 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   ActiveProductAndChannelGroupNum              50872 non-null  int64
 1   AvgAtmTrxNumL6M                              50872 non-null  object
 2   AvgAutoBillPaymentNumLM6                     50872 non-null  object
 3   AvgBranchTrxNumL6M                           50872 non-null  object
 4   AvgDemandDepositTrxNumL6M                    50872 non-null  object
 5   AvgDemandDepositTrxUsdAmountL6M              50872 non-null  int64
 6   AvgFxDemandDepositTrxNumL3M                  50872 non-null  object
 7   AvgFxDemandDepositTrxNumL6M                  50872 non-null  object
 8   AvgFxDemandDepositTrxUsdAmountL3M            50872 non-null  int64
 9   AvgFxDemandDepositTrxUsdAmountL6M            50872 non-null  int64
 10  AvgInternetLoginNumL3M                       50872 non-null  object
 11  AvgInternetTrxNumL3M                         50872 non-null  object
 12  AvgInternetTrxNumL6M                         50872 non-null  object
 13  AvgUsdAumL3M                                 50872 non-null  int64
 14  AvgUsdAumL6M                                 50872 non-null  int64
 15  BonusCampaignPromiseFlag                     50872 non-null  int64
 16  Channel1OwnershipFlag                        50872 non-null  int64
 17  Channel2OwnershipFlag                        50872 non-null  int64
 18  Channel3OwnershipFlag                        50872 non-null  int64
 19  ChurnFlag                                    50872 non-null  float64
 20  ClosedAutoBillPaymentOrderDurationMonthL12M  50872 non-null  int64
 21  ClosedCreditCardDurationMonthL12M            50872 non-null  int64
 22  ClosedCreditCardFlag                         50872 non-null  int64
 23  ClosedOverdraftDurationMonthL12M             50872 non-null  int64
 24  ClosedPayrollDurationMonthL12M               50872 non-null  int64
 25  ClosedProductNumL3M                          50872 non-null  object
 26  CustomerId                                   50872 non-null  object
 27  DemandDepositBalanceDebtRatioLM6             50872 non-null  object
 28  DifDayLast2FinancialTrxL12M                  50872 non-null  object
 29  MaxLoanBalanceL24M                           50872 non-null  float64
 30  MaxLoanRemainingMaturity                     50872 non-null  int64
 31  MaxUsdAumL24M                                50872 non-null  float64
 32  NewOpenProductAndChannelNumLM                50872 non-null  int64
 33  PeriodOrder                                  50872 non-null  int64
 34  ProfitSegment                                50872 non-null  object
 35  SumCcIvrTrxNumL3M                            50872 non-null  int64
 36  SumCcIvrTrxNumL6M                            50872 non-null  int64
 37  SumDemandDepositTrxNumL3M                    50872 non-null  float64
 38  SumDemandDepositTrxNumL6M                    50872 non-null  float64
 39  SumDemandDepositTrxTypeNumLM                 50872 non-null  int64
 40  SumLoanBalanceUsdLM                          50872 non-null  float64
 41  SumUsdAum                                    50872 non-null  float64
 42  ValidationFlag                               50872 non-null  int64
 43  ValueBasedSegment                            50872 non-null  object
 44  YearlyIncome                                 50872 non-null  float64
 45  TotalProductOwnership                        50872 non-null  int64
dtypes: float64(8), int64(23), object(15)
memory usage: 18.2+ MB
None

In [86]:
sorted_data['TotalProductOwnership']

0        2
1        5
2        4
3        8
4        3
        ..
65994    5
65995    2
65996    4
65997    4
65998    2
Name: TotalProductOwnership, Length: 50872, dtype: int64

In [87]:
corr = sorted_data.corr()
corr["ChurnFlag"].sort_values(ascending=False)

ChurnFlag                                      1.000000
ClosedCreditCardFlag                           0.040596
ClosedPayrollDurationMonthL12M                 0.036551
AvgDemandDepositTrxUsdAmountL6M               -0.001801
ClosedOverdraftDurationMonthL12M              -0.005343
SumUsdAum                                     -0.007413
MaxUsdAumL24M                                 -0.007453
AvgFxDemandDepositTrxUsdAmountL6M             -0.007456
AvgFxDemandDepositTrxUsdAmountL3M             -0.007468
AvgUsdAumL3M                                  -0.008408
AvgUsdAumL6M                                  -0.009405
YearlyIncome                                  -0.010426
ClosedCreditCardDurationMonthL12M             -0.016579
BonusCampaignPromiseFlag                      -0.021875
SumCcIvrTrxNumL3M                             -0.023013
SumCcIvrTrxNumL6M                             -0.024318
Channel1OwnershipFlag                         -0.025774
NewOpenProductAndChannelNumLM                 -0.030171
Channel3OwnershipFlag                         -0.040708
MaxLoanBalanceL24M                            -0.046272
SumLoanBalanceUsdLM                           -0.048576
ClosedAutoBillPaymentOrderDurationMonthL12M   -0.059568
SumDemandDepositTrxNumL6M                     -0.106982
MaxLoanRemainingMaturity                      -0.112813
SumDemandDepositTrxNumL3M                     -0.120320
SumDemandDepositTrxTypeNumLM                  -0.168816
Channel2OwnershipFlag                         -0.177361
TotalProductOwnership                         -0.179430
ActiveProductAndChannelGroupNum               -0.225384
PeriodOrder                                         NaN
ValidationFlag                                      NaN
Name: ChurnFlag, dtype: float64